<!-- signin.component.html -->

<div class="overlay" (click)="onOverlayClick($event)">
  <div class="signin-form" (click)="onFormClick($event)">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <label for="firstName">Prénom :</label>
      <input id="firstName" formControlName="firstName" type="text">
      <div *ngIf="firstName?.invalid && firstName?.touched" class="error">Entrez votre prénom</div>
      
      <label for="lastName">Nom:</label>
      <input id="lastName" formControlName="lastName" type="text">
      <div *ngIf="lastName?.invalid && lastName?.touched" class="error">Entrez votre nom</div>
      
      <label for="username">Nom d'utilisateur:</label>
      <input id="username" formControlName="username" type="text">
      <div *ngIf="username?.invalid && username?.touched" class="error">Entrez un nom d'utilisateur</div>
      
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email">
      <div *ngIf="email?.invalid && email?.touched" class="error">Entrez un email valide</div>
      
      <label for="password">Mot de passe:</label>
      <input id="password" formControlName="password" type="password">
      <div *ngIf="password?.invalid && password?.touched" class="error">Entrez un mot de passe</div>
      
      <button type="submit">Enregistrer</button>
      <button type="button" (click)="openLoginOverlay()">Deja membre ? Se connecter</button>
      <button type="button" (click)="closeOverlay()">Fermer</button>
      
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
  </div>
</div>
