<div class="recipe-details">
    <h2>{{ recipe.title }}</h2>
    
    <div class="details-item">
      <strong>Catégorie:</strong> {{ recipe.category }}
    </div>
    
    <div class="details-item">
      <strong>Type:</strong> {{ recipe.type }}
    </div>
    
    <div class="details-item">
      <strong>Difficulté:</strong> {{ recipe.difficulty }}
    </div>
    
    <div class="details-item">
      <strong>Nombre de personnes:</strong> {{ recipe.nbPeople }}
    </div>
    
    <div class="details-item">
      <strong>Durée:</strong> {{ recipe.duration }} minutes
    </div>
    
    <h3>Ingrédients:</h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.quantity }} {{ ingredient.unit }} de {{ ingredient.name }}
      </li>
    </ul>
    
    <h3>Instructions:</h3>
    <ol>
      <li *ngFor="let instruction of recipe.instructions">
        {{ instruction.text }}
      </li>
    </ol>
  </div>
