.recipe-form {
    margin: 2em auto;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

label {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
    color: #495057; 
}

input[type="text"],
input[type="number"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
    background-color: #fff;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="time"]:focus,
select:focus,
textarea:focus {
    border-color: #007bff; 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    font-size: 1em;
    padding: 0.75em 1.5em;
    border-radius: 4px;
    margin-top: 1em;
}

button.btn-primary {
    background-color: #007bff; 
    border: none;
    color: white;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: #0056b3; 
}

button.btn-secondary {
    background-color: #142864; 
    border: none;
    color: white;
    cursor: pointer;
}

.button-after::after {
    content: " ✔";
}

button.btn-secondary:hover {
    background-color: #001428; 
}

button.btn-danger {
    background-color: #dc3545; 
    border: none;
    color: white;
    cursor: pointer;
}

button.btn-danger:hover {
    background-color: #c82333; 
}

button.btn-secondary,
button.btn-danger {
    margin-top: 0;
}

.app-image-upload {
    margin-top: 2em;
}

.recipe-form-header {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.recipe-form-header .title-and-validator{
    flex-grow: 2;
}

.recipe-form-informations {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-form-informations input {
    max-width: 10em;
}

.form-recipe-content {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.form-recipe-image-description {
    max-width: 400px;
    flex-shrink: 10;
}

.form-recipe-text {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 2;
}

.validators {
    color: #dc3545; 
}

.form-instructions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-instruction {
    display: flex;
    flex-direction: column;
}

.form-ingredients {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-ingredient {
    width: 100%;
    display: flex;
    gap: 0.5em;
}

.form-ingredient .ingredient-info {
    flex-grow: 2;
}

.form-ingredient button {
    flex-grow: 0;
    height: 50%;
    align-self: end;
    margin-bottom: 0.5em;
}
