<form>
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-2 col-form-label">Titre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitle" placeholder="Tarte aux pommes">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-2">
          <label for="inputCategory">Category</label>
          <input type="text" class="form-control" id="inputCategory" placeholder="Italien">
        </div>
        <div class="form-group col-md-2">
            <label for="inputType">Type</label>
            <select id="inputType" class="form-control">
                <option selected>Entrée</option>
                <option>Plat</option>
                <option>Déssert</option>
                <option>Autre</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputDuration">Durée</label>
            <input type="date" class="form-control" id="inputDuration">
        </div>
        <div class="form-group col-md-2">
          <label for="inputPersonnes">Personnes</label>
          <input type="number" class="form-control" id="inputPersonnes" placeholder="4">
        </div>
        <div class="form-group col-md-2">
            <label for="inputDifficulty">Difficulté</label>
            <input type="number" class="form-control" id="inputDifficulty" placeholder="4">
        </div>
    </div>
</form>