<div class="overlay" (click)="onOverlayClick($event)">
  <div class="login-form" (click)="onFormClick($event)">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email">
      <div *ngIf="email?.invalid && email?.touched" class="error">Email non valide.</div>

      <label for="password">Mot de passe:</label>
      <input id="password" formControlName="password" type="password">
      <div *ngIf="password?.invalid && password?.touched" class="error">Entrez un mot de passe</div>

      <button type="submit">Se connecter</button>
      <button type="button" (click)="closeOverlay()">Fermer</button>

      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
  </div>
</div>
