.image-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.image-upload img{
    width:100%;
    border-radius: 2em;
}

.image-upload button{
    background-color: #142864;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 0.75em 1.5em;
    border-radius: 4px;
}

.image-upload button:hover{
    background-color: #001428;
}