.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    transition: width 0.3s, left 0.3s;
    z-index: 5;
  }
  
  .sidebar.visible {
    left: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
  }
  
  .sidebar ul li {
    padding: 8px;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757;
  }
  
  .sidebar .search-container {
    position: relative;
    padding: 8px;
  }
  
  .sidebar .search-container input {
    width: calc(100% - 16px);
    padding: 5px;
    border: none;
    border-radius: 4px;
  }
  
  .sidebar .suggestions {
    position: absolute;
    top: 40px; 
    left: 0;
    right: 0;
    max-height: 150px; 
    overflow-y: auto;
    background-color: #575757;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar .suggestions li {
    padding: 8px;
    text-align: left;
    cursor: pointer;
  }
  
  .sidebar .suggestions li:hover {
    background-color: #999;
  }
  
  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2000;
    display: none;
  }
  
  .icon-white {
    color: white;
  }
  
  .icon-black {
    color: black;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      left: -250px; 
    }
  
    .sidebar.visible {
      left: 0;
    }
  
    .menu-icon {
      display: block;
    }
  
    .main-content {
      margin-left: 0; 
    }
  }


  .sidebar .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

  .sidebar .button-login-signin {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar .button-login-signin:hover {
    background-color: #45a049;
}
  
  @media (min-width: 768px) {
    .main-content {
      margin-left: 270px; 
    }
  }