<div class="menu-icon" [ngClass]="{'icon-white': sidebarVisible, 'icon-black': !sidebarVisible}" (click)="toggleSidebar()">
    &#9776; 
</div>
<nav class="sidebar" [class.visible]="sidebarVisible" #sidebar>
    <ul>
        <li><a routerLink="/home">Accueil/Home</a></li>
        <li>
            <div class="search-container" #searchContainer>
                <input type="text" placeholder="Rechercher une recette" (input)="onSearch($event)">
                <ul class="suggestions" *ngIf="suggestions.length > 0">
                    <li *ngFor="let suggestion of suggestions">
                      <a [routerLink]="['/recipe', suggestion.id]">{{ suggestion.title }}</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="button-container">
            <button class="button-login-signin" *ngIf="!authService.isLoggedIn()" (click)="toggleSignIn()">Sign In / Log In</button>
            <button class="button-login-signin" *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</button>
        </li>
        <app-signin *ngIf="showSignIn" (close)="closeSignIn()" (showLogin)="toggleLogin()"></app-signin>
        <app-login *ngIf="showLogin" (close)="closeLogin()"></app-login>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/recipe-form">Créer une recette</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/profile">Profil</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/recipes">Recettes</a></li>  
    </ul>
</nav>
