<div class="menu-icon" [ngClass]="{'icon-white': sidebarVisible, 'icon-black': !sidebarVisible}" (click)="toggleSidebar()">
    &#9776; 
</div>
<nav class="sidebar" [class.visible]="sidebarVisible" #sidebar>
    <ul>
        <li class="site-name"><a routerLink="/home">Marmibon</a></li>
        <li>
            <div class="search-container" #searchContainer>
                <input type="text" placeholder="Rechercher une recette" (input)="onSearch($event)">
                <ul class="suggestions" *ngIf="suggestions.length > 0">
                    <li *ngFor="let suggestion of suggestions">
                      <a [routerLink]="['/recipe', suggestion.id]">{{ suggestion.title }}</a>
                    </li>
                </ul>
            </div>
        </li>
        <li *ngIf="authService.isLoggedIn()"><a (click)="logout()">Se déconnecter</a></li>
        <li *ngIf="authService.isLoggedIn()"><a (click)="redirectToProfile()">Profil</a>
        </li>
        <li><a routerLink="/recipes">Recettes</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/recipe-form">Créer une recette</a></li>
        <li *ngIf="!authService.isLoggedIn()"><a (click)="toggleSignIn()">Se connecter</a></li>
        <app-signin *ngIf="showSignIn" (close)="closeSignIn()" (showLogin)="toggleLogin()"></app-signin>
        <app-login *ngIf="showLogin" (close)="closeLogin()"></app-login>
    </ul>
</nav>
