<!-- src/app/login/login.component.html -->
<div class="overlay">
    <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email">
        
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password">
        
        <button type="submit">Login</button>
        <button type="button" (click)="closeOverlay()">Close</button>
      </form>
    </div>
  </div>
  