<div class="profile-container">
    <div class="profile">
      <div class="avatar">
        <img [src]="user?.avatar || 'assets/default-avatar.png'" alt="Profile Picture">
      </div>
      <div class="details">
        <div class="left-column">
          <div class="field">
            <label>Surname:</label>
            <span>{{ user?.lastName }}</span>
          </div>
          <div class="field">
            <label>First Name:</label>
            <span>{{ user?.firstName }}</span>
          </div>
          <div class="field">
            <label>Username:</label>
            <span>{{ user?.username }}</span>
          </div>
        </div>
        <div class="right-column">
          <div class="field">
            <label>Email:</label>
            <span>{{ user?.email }}</span>
          </div>
          <div class="field">
            <label>Description:</label>
            <textarea readonly>{{ user?.description }}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  