<div class="home-container">
  <div class="header">
    <h1>MarmiBon</h1>
    <!-- <img src="assets/logo.png" alt="Logo" class="logo"> -->
  </div>
  <div class="content">
    <div class="recipes-section">
      <h2>Nos Recettes</h2>
      <div class="carousel-container">
        <app-carousel></app-carousel>
      </div>
    </div>
    <div class="comments-section">
      <h2>Quelques Commentaires</h2>
      <div *ngIf="comments.length === 0">Aucun commentaire disponible</div>
      <div class="comment" *ngFor="let comment of comments">
        <p>{{ comment.comment }}</p> 
        <div class="user-info">
          <a [routerLink]="['/user', comment.userId]">
            <img *ngIf="comment.user?.avatar" [src]="comment.user?.avatar" alt="{{ comment.user?.username }}">
          </a>
          <div class="user-details">
            <a [routerLink]="['/user', comment.userId]"><strong>{{ comment.user?.username }}</strong></a>
            <p>{{ comment.user?.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="categories-section">
      <h2>Quelle catégorie voulez-vous cuisiner aujourd'hui ?</h2>
      <div class="categories">
        <button *ngFor="let category of categories" (click)="navigateToCategory(category)">{{ category }}</button>
      </div>
    </div>
  </div>
</div>
