.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffee;
  color: #000014;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #001428;
  color: #ffffff;
  width: 100%;
}

.header h1 {
  margin: 0;
}

.header img.logo {
  height: 50px;
  margin-left: 10px;
}

.content {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.recipes-section,
.comments-section,
.categories-section {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.recipes-section h2,
.comments-section h2,
.categories-section h2 {
  color: #142864;
}

.comments-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.comments-section h2 {
  width: 100%;
  text-align: center;
  color: #142864;
  margin-bottom: 20px;
}

.comment {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: calc(100% - 40px);
  max-width: 300px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .comment {
    width: calc(33% - 40px);
  }
}

.comment p {
  font-style: italic;
  margin-bottom: 10px;
  color: #000014;
}

.comment .comment-text {
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
}

.user-details a:hover {
  text-decoration: underline;
}

.categories-section .categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.categories-section .categories button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #001428;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categories-section .categories button:hover {
  background-color: #142864;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.carousel-container app-carousel {
  width: 100%;
}

@media (min-width: 768px) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }
}
