<div class="home-container">
  <div class="header">
    <h1>MarmiBon</h1>
    <!-- <img src="assets/logo.png" alt="Logo" class="logo"> -->
  </div>
  <div class="content">
    <div class="recipes-section">
      <h2>Nos Recettes</h2>
      <div class="carousel-container">
        <app-carousel></app-carousel>
      </div>
    </div>
    <div class="comments-section">
      <h2>Commentaires Positifs</h2>
      <div class="comment" *ngFor="let comment of comments">
        <p>{{ comment.text }}</p>
        <div class="user-info">
          <img [src]="comment.user.avatar" alt="{{ comment.user.username }}">
          <div class="user-details">
            <strong>{{ comment.user.username }}</strong>
            <p>{{ comment.user.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="categories-section">
      <h2>Types de Recettes</h2>
      <div class="categories">
        <button *ngFor="let category of categories" (click)="navigateToCategory(category)">{{ category }}</button>
      </div>
    </div>
  </div>
</div>
